* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c6c1d0;
    color: #222222;
}

/* Header */

header {
    background-color: #222222;
    padding: 20px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #4da6ff;
}

/* Hero */

.hero {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;

    background: linear-gradient(
        135deg,
        #011d417b,
        #c7d2fe,
        #e9d5ff,
        #bfdbfe
    );

    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Hero Text */

.hero h1 {
    font-family: Georgia, serif;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Button */

button {
    border: none;
    background-color: #2563eb;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}

/* About Section */

.about {
    padding: 70px 8%;
    text-align: center;
    background-color: white;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
}

/* Features Section */

.features {
    padding: 70px 8%;
    text-align: center;
}

.features h2 {
    font-size: 32px;
    margin-bottom: 35px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 30px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #666666;
    line-height: 1.5;
}

/* Footer */

footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Mobile */

@media (max-width: 600px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        gap: 15px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 17px;
    }
}