body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fffeed;
  color: #333;
}

header {
  background: #155d27;
  color: white;
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  color: #f7d700;
}

.hero {
  text-align: center;
  padding: 70px 20px;
  background: #ffe8a3;
}

.hero h2,
#products h2,
.contact h2 {
  color: #155d27;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 10px #ccc;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background: #ce1126;
  color: white;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

.card button:hover {
  background: #a80e20;
}

#products,
.contact {
  padding: 50px 8%;
  text-align: center;
}

.contact {
  background: #f9f9f9;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}